{
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "arrowParens": "avoid",
    "trailingComma": "none",
    "endOfLine": "auto",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
